.slide-down {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-80%);
    max-height: 0;
  }

  100% {
    transform: translateY(0);
    max-height: 500px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
